

<div class="card size">
    <div class="card-body">

            <section class="content-header d-flex justify-content-between align-items-center">
                <h1>
                    Administrar Normativas
                </h1>
            </section>
  
            <mat-divider class="divisor"></mat-divider>
  
            <app-filtro-normativa></app-filtro-normativa>
  
  

    </div>
  
    <!-- <section class="content-header d-flex justify-content-between align-items-center">
  
        <div class="container">
          <div class="row">
            <div class="col-9 d-flex align-items-center justify-content-start ">
              <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Seleccione Pagina">
              </mat-paginator>
            </div>
  
            <div class="col-1 d-flex align-items-center justify-content-end">
              <ng-container matColumnDef="position">
                <label class="form-label example-button-row">Buscar: </label>
              </ng-container>
            </div>
    
            <div class="col-2 d-flex align-items-center justify-content-end ">
              <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <input matInput placeholder="Buscar">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
    
          </div>
        </div>
  
    </section> -->

    <app-list-normativa></app-list-normativa>

  
  </div>
  