<div class="card-body">
<section class="content-header d-flex justify-content-between align-items-center">
    <h2>
        Resultados de busqueda: De [Fecha INICIO] Hasta [Fecha FIN]
    </h2>   


    <div class="d-flex align-items-center">

        <button mat-button class="square-button_a">
            <mat-icon svgIcon="save"></mat-icon>  
        </button>
        <button mat-button class="square-button_b">
            <mat-icon>icono2</mat-icon>
        </button>
        <button mat-button class="square-button_c">
            <mat-icon>icono3</mat-icon>
        </button>

        <mat-form-field class="fieldform" appearance="outline">
            <mat-label>Filtrar Columnas</mat-label>
            <mat-select [formControl]="columnas" multiple>
                <mat-select-trigger>
                    {{columnas.value?.[0] || ''}}
                    @if ((columnas.value?.length || 0) > 1) {
                    <span class="example-additional-selection">
                        (y {{(columnas.value?.length || 0) - 1}} {{columnas.value?.length === 2 ? 'mas seleccionado' : 'mas seleccionados'}})
                    </span>
                    }
                </mat-select-trigger>
                @for (columna of columnaList; track columna) {
                <mat-option [value]="columna">{{columna}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
      
      
</section>


<div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">
        <div class="col-9 d-flex align-items-center justify-content-start ">
            <mat-paginator [length]="500" [pageSizeOptions]="[10, 50, 100]" aria-label="Seleccione Pagina">
            </mat-paginator>
        </div>
    </div>

    <div class="p-2 bd-highlight">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
            <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
        </ng-container>

        <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres y Apellidos </th>
            <td mat-cell *matCellDef="let row"> {{row.nombres}} </td>
        </ng-container>

        <ng-container matColumnDef="cargo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </th>
            <td mat-cell *matCellDef="let row"> {{row.cargo}} </td>
        </ng-container>

        <ng-container matColumnDef="ufingreso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ultima Fecha de Ingreso </th>
            <td mat-cell *matCellDef="let row"> {{row.ufingreso}} </td>
        </ng-container>

        <ng-container matColumnDef="gerencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gerencia </th>
            <td mat-cell *matCellDef="let row"> {{row.gerencia}} </td>
        </ng-container>

        <ng-container matColumnDef="oficina">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Oficina </th>
            <td mat-cell *matCellDef="let row"> {{row.oficina}} </td>
        </ng-container>

        <ng-container matColumnDef="ingreso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de Ingresos </th>
            <td mat-cell *matCellDef="let row"> {{row.ingreso}} </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay datos que mostrar "{{input.value}}"</td>
        </tr>
    </table>
</div>
</div>