<Form [formGroup]="myForm" (ngSubmit)="procesar()">
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Desde</mat-label>

                    <input matInput formControlName="desde" [matDatepicker]="picker" name="buscarDesde">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="myForm.get('desde').errors && myForm.get('desde').dirty">
                        <ng-container *ngIf="myForm.get('desde').hasError('required')">
                            Este campo es requerido
                        </ng-container>
                        <ng-container *ngIf="myForm.get('desde').hasError('pattern')">
                            El formato de fecha es incorrecto (Dia/Mes/Año)
                        </ng-container>
                    </mat-error>
                </mat-form-field>

            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Hasta</mat-label>
                    <input matInput [matDatepicker]="dphasta">
                    <mat-datepicker-toggle matIconSuffix [for]="dphasta"
                        placeholder="Fecha de Vigencia"></mat-datepicker-toggle>
                    <mat-datepicker #dphasta></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" type="submit">Buscar</button>
        </div>
    </section>
</Form>