.card {
    width: 98%;
}


.fieldform {
    width: 100%;
    margin-bottom: 0.8%;
}



section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .mat-form-field {
    .mat-form-field-subscript-wrapper {
        .mat-error {
            color: red;
            font-size: 12px; 
        }
    }
}

.divisor {
    margin-bottom: 20px;
}

.content-header {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
  }
  
.form-label{
    font-size: 16px;
    margin-left: 8px;
    min-width: 120px;  
  }



.container{
  padding-top: 0.4%;
  padding-bottom: 0.4%;
}