<div class="card">
    <div class="card-body">
        <Form [formGroup]="myForm" (ngSubmit)="procesar()" novalidate>
            <section class="content-header">
                <h1>
                    Registrar Publicación
                    <!-- <small>Publicacion</small> -->
                </h1>
            </section>

            <mat-form-field class="fieldform" appearance="outline">
                <mat-label>Titulo</mat-label>
                <input matInput formControlName="titulo" type="text" placeholder="Titulo de la Publicacion">
                <mat-error *ngIf="myForm.get('titulo').errors && myForm.get('titulo').dirty">
                    <ng-container *ngIf="myForm.get('titulo').hasError('required')">
                        Este campo es requerido
                    </ng-container>
                    <ng-container *ngIf="myForm.get('titulo').hasError('minlength')">
                        Mínimo 5 caracteres
                    </ng-container>                 
                </mat-error>
            </mat-form-field>

            <mat-form-field class="fieldform" appearance="outline">
                <mat-label>Fecha de Publicacion</mat-label>

                <input matInput [matDatepicker]="dp" formControlName="fpublicacion" placeholder="Fecha de publicacion" name="fpublicacion">
                <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>

                <mat-error *ngIf="myForm.get('fpublicacion').errors && myForm.get('fpublicacion').dirty">
                    <ng-container *ngIf="myForm.get('fpublicacion').hasError('required')">
                        Este campo es requerido
                    </ng-container>
                    <ng-container *ngIf="myForm.get('fpublicacion').hasError('invalidDate')">
                        El formato de fecha es incorrecto (Dia/Mes/Año)
                    </ng-container>
                </mat-error>
            </mat-form-field>


            <angular-editor id="editor" class="custom-editor" [config]="config"> <!--formControlName="Editor"-->
                <ng-template #customButtons let-executeCommandFn="executeCommandFn"/>
              </angular-editor>


              <mat-slide-toggle class="deslizable"> Activo</mat-slide-toggle>


            <section>
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="myForm.invalid">Registrar</button>
                    <button mat-raised-button color="accent">Cancelar</button>
                </div>
            </section>
        </Form>
    </div>
</div>
