table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
 
  .mat-column-area {
    max-width: 120px;
  }
  
  .btnEditar {
    background-color: rgb(131, 233, 170);
    color: rgb(0, 0, 0);
    font-size: 11px;
    padding: 10px;
    margin-right: 10px;
  }
  
  