<Form [formGroup]="myForm" (ngSubmit)="procesar()" novalidate>
    
    <mat-form-field class="fieldform fieldformChip" appearance="outline">
        <mat-label>Proceso</mat-label>
        <mat-chip-grid #chipGridProceso aria-label="Proceso selection" [formControl]="ProcesoCtrl">
            @for (Proceso of Procesos; track Proceso) {
            <mat-chip-row (removed)="removeProceso(Proceso)">
                {{Proceso}}
                <button matChipRemove [attr.aria-label]="'remove ' + Proceso">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            }
            <input #ProcesoInput [matChipInputFor]="chipGridProceso" [matAutocomplete]="autoProceso"
                (keydown)="onInputKeydownProceso($event)"/>
            <mat-autocomplete #autoProceso="matAutocomplete" (optionSelected)="selectedProceso($event)">
                @for (Proceso of filteredProcesos | async; track Proceso) {
                <mat-option *ngIf="!Procesos.includes(Proceso)" [value]="Proceso">
                    {{Proceso}}
                </mat-option>
                }
            </mat-autocomplete>
        </mat-chip-grid>
    </mat-form-field>

    <mat-form-field class="fieldform fieldformChip" appearance="outline">
        <mat-label>Gerencia</mat-label>
        <mat-chip-grid #chipGridGerencia aria-label="Gerencia selection" [formControl]="GerenciaCtrl">
            @for (Gerencia of Gerencias; track Gerencia) {
            <mat-chip-row (removed)="removeGerencia(Gerencia)">
                {{Gerencia}}
                <button matChipRemove [attr.aria-label]="'remove ' + Gerencia">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            }
            <input #GerenciaInput [matChipInputFor]="chipGridGerencia" [matAutocomplete]="autoGerencia"
                (keydown)="onInputKeydownGerencia($event)"/>
            <mat-autocomplete #autoGerencia="matAutocomplete" (optionSelected)="selectedGerencia($event)">
                @for (Gerencia of filteredGerencias | async; track Gerencia) {
                <mat-option *ngIf="!Gerencias.includes(Gerencia)" [value]="Gerencia">
                    {{Gerencia}}
                </mat-option>
                }
            </mat-autocomplete>
        </mat-chip-grid>
    </mat-form-field>

    <mat-form-field class="fieldform fieldformChip" appearance="outline">
        <mat-label>Perfil</mat-label>
        <mat-chip-grid #chipGridPerfil aria-label="Perfil selection" [formControl]="PerfilCtrl">
            @for (Perfil of Perfils; track Perfil) {
            <mat-chip-row (removed)="removePerfil(Perfil)">
                {{Perfil}}
                <button matChipRemove [attr.aria-label]="'remove ' + Perfil">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            }
            <input #PerfilInput [matChipInputFor]="chipGridPerfil" [matAutocomplete]="autoPerfil"
                (keydown)="onInputKeydownPerfil($event)"/>
            <mat-autocomplete #autoPerfil="matAutocomplete" (optionSelected)="selectedPerfil($event)">
                @for (Perfil of filteredPerfils | async; track Perfil) {
                <mat-option *ngIf="!Perfils.includes(Perfil)" [value]="Perfil">
                    {{Perfil}}
                </mat-option>
                }
            </mat-autocomplete>
        </mat-chip-grid>
    </mat-form-field>

    <!-- <mat-form-field class="fieldform" appearance="outline">
    <mat-label>Proceso</mat-label>
    <mat-select [formControl]="proceso" multiple ormControlName="procesoNormativa" type="text"
        placeholder="Proceso" required>
        @for (topping of procesoList; track topping) {
        <mat-option [value]="topping">{{topping}}</mat-option>
        }
    </mat-select>
    </mat-form-field> -->


<!--
<mat-form-field class="chip-list" appearance="outline">
    <mat-label>Proceso</mat-label>
    <mat-chip-grid #chipGrid aria-label="opcion selection">
        @for (opcion of opcions; track opcion) {
        <mat-chip-row (removed)="remove(opcion)">
            {{opcion}}
            <button matChipRemove [attr.aria-label]="'remove ' + opcion">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        }
    </mat-chip-grid>

    <input placeholder="Proceso" name="proceso" [formControl]="opcionCtrl" [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)" />

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        @for (opcion of filteredopcions | async; track opcion) {
        <mat-option [value]="opcion">{{opcion}}</mat-option>
        }
    </mat-autocomplete>

    <mat-hint>Requerido</mat-hint>

</mat-form-field>
-->
<mat-form-field class="fieldform" appearance="outline">
    <mat-label>Nombre de la normativa</mat-label>
    <input matInput formControlName="nombreNormativa" type="text" placeholder="Nombre de la normativa">
    <mat-error *ngIf="myForm.get('nombreNormativa').errors && myForm.get('nombreNormativa').dirty">
        <ng-container *ngIf="myForm.get('nombreNormativa').hasError('required')">
            Este campo es requerido
        </ng-container>
        <ng-container *ngIf="myForm.get('nombreNormativa').hasError('minlength')">
            Mínimo 5 caracteres
        </ng-container>
    </mat-error>
</mat-form-field>

<mat-form-field class="fieldform" appearance="outline">
    <mat-label>Version de la Normativa</mat-label>
    <input matInput formControlName="versionNormativa" type="text" placeholder="Version de la Normativa">
    <mat-error *ngIf="myForm.get('versionNormativa').errors && myForm.get('versionNormativa').dirty">
        <ng-container *ngIf="myForm.get('versionNormativa').hasError('required')">
            Este campo es requerido
        </ng-container>
        <ng-container *ngIf="myForm.get('versionNormativa').hasError('minlength')">
            Mínimo 1 caracter
        </ng-container>
        <ng-container *ngIf="myForm.get('versionNormativa').hasError('maxlength')">
            Maximo 15 caracteres
        </ng-container>
    </mat-error>
</mat-form-field>

<mat-form-field class="fieldform" appearance="outline">
    <mat-label>Fecha de Vigencia</mat-label>
    <input matInput formControlName="vigencia" [matDatepicker]="picker" placeholder="Fecha de vigencia" name="vigenciaNormativa">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="myForm.get('vigencia').errors && myForm.get('vigencia').dirty">
        <ng-container *ngIf="myForm.get('vigencia').hasError('required')">
            Este campo es requerido
        </ng-container>

        <ng-container *ngIf="myForm.get('vigencia').hasError('pattern')">
            El formato de fecha es incorrecto (Dia/Mes/Año)
        </ng-container>
    </mat-error> 
</mat-form-field>

<mat-form-field class="fieldform" appearance="outline">
    <mat-label>Palabras Clave</mat-label>
    <input matInput formControlName="palabraClave" type="text" placeholder="Palabras Clave">
    <mat-error *ngIf="myForm.get('palabraClave').errors && myForm.get('palabraClave').dirty">
        <ng-container *ngIf="myForm.get('palabraClave').hasError('required')">
            Este campo es requerido
        </ng-container>
        <ng-container *ngIf="myForm.get('palabraClave').hasError('minlength')">
            Mínimo 3 caracteres
        </ng-container>
    </mat-error>
</mat-form-field>

<mat-form-field class="fieldform" appearance="outline">
    <mat-label>Email de Contacto (Dueño de Proceso)</mat-label>
    <input matInput formControlName="contactoEmail" type="text" placeholder="Contacto (Dueño de Proceso)">
    <mat-error *ngIf="myForm.get('contactoEmail').errors && myForm.get('contactoEmail').dirty">
        <ng-container *ngIf="myForm.get('contactoEmail').hasError('required')">
            Este campo es requerido
        </ng-container>
        <ng-container *ngIf="myForm.get('contactoEmail').hasError('email')">
            No es un email valido
        </ng-container>
    </mat-error>
</mat-form-field>

<div class="mb-3">
    <label for="formFileMultiple" class="form-label">Seleccione el(los) Archivos (Máx. 10MB)</label>
    <input #pdfInput class="form-control" type="file" name="archivoNormativa" id="formFileMultiple" multiple
        onclick="this.value=null" (change)="pdfInputChange($event)" accept=".pdf" />
</div>
<!--<input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="csvInputChange($event)" accept=".csv"/>
    <button mat-flat-button color="primary" (click)="csvInput.click()">Selecione un archivo (CSV)</button> -->

<mat-form-field class="fieldform" appearance="outline">
    <mat-label>Objetivo de la normativa</mat-label>
    <textarea matInput formControlName="objetivoNormativa" class="textarea" type="text"
        placeholder="Objetivo de la normativa" name="objetivoNormativa"></textarea>
    <mat-error *ngIf="myForm.get('objetivoNormativa').errors && myForm.get('objetivoNormativa').dirty">
        <ng-container *ngIf="myForm.get('objetivoNormativa').hasError('required')">
            Este campo es requerido
        </ng-container>
        <ng-container *ngIf="myForm.get('objetivoNormativa').hasError('minlength')">
            Mínimo 5 caracteres
        </ng-container>
    </mat-error>
</mat-form-field>
<section>
    <div class="example-button-row">
        <button mat-raised-button color="primary" type="submit"
            [disabled]="myForm.invalid">Registrar</button>
        <button mat-raised-button color="accent">Cancelar</button>
    </div>
</section>
</Form>