<header>
  <div class="d-flex flex-column flex-md-row align-items-center border-bottom px-3 py-2">
    <a href="#" routerLink="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
          fill="currentColor"></path>
      </svg>
      <span class="fs-4">GNormativas</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <button mat-button (click)="onLogout()" class="d-inline-flex align-items-center">
        <mat-icon>exit_to_app</mat-icon>
        Cerrar Sesión</button>
    </nav>
  </div>
</header>

<div>
  <br><br>
  <div class="row">
    <div class="col-2">
      <ul class="list-group">
        <!-- <li class="list-group-item">
          <a href="#" [routerLink]="['home']" class="link-body-emphasis text-decoration-none">Inicio</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['opcion1']" class="link-body-emphasis text-decoration-none">Opcion 1</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['opcion2']" class="link-body-emphasis text-decoration-none">Opcion 2</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['moduser/list']" class="link-body-emphasis text-decoration-none">Modulo user</a>
        </li> -->
        <mat-divider></mat-divider>
        <li class="list-group-item">
          <a href="#" [routerLink]="['RegistrarNormativa/']" class="link-body-emphasis text-decoration-none">Registrar Normativa</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['AdministrarNormativa/']" class="link-body-emphasis text-decoration-none">Administrar Normativa</a>
        </li>

        <li class="list-group-item">
          <a href="#" [routerLink]="['AdministrarTipoNormativa/']" class="link-body-emphasis text-decoration-none">Administrar Tipo de Normativa</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['RegistrarPublicacion/list']" class="link-body-emphasis text-decoration-none">Registrar Publicacion</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['AdministrarPublicacion/']" class="link-body-emphasis text-decoration-none">Administrar Publicacion</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['RegistrarVideo/list']" class="link-body-emphasis text-decoration-none">Registrar Video</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['AdministrarVideo/']" class="link-body-emphasis text-decoration-none">Administrar Videos</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['RegistrarProcesoMP/list']" class="link-body-emphasis text-decoration-none">Registrar Proceso MP</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['AdministrarProcesoMP/']" class="link-body-emphasis text-decoration-none">Administrar Proceso MP</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['AdministrarPerfiles/']" class="link-body-emphasis text-decoration-none">Administrar Perfiles</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['ReportesNormativas']" class="link-body-emphasis text-decoration-none">Reportes de Normativas</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['AdministrarReportesNormativas/']" class="link-body-emphasis text-decoration-none">Administrar Reportes de Normativas</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['ControlAccesoUsuarios/']" class="link-body-emphasis text-decoration-none">Control de Acceso de Usuarios</a>
        </li>
        <mat-divider></mat-divider>
        <li class="list-group-item">
          <a href="#" [routerLink]="['Inicio/']" class="link-body-emphasis text-decoration-none">Inicio</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['Favoritos/']" class="link-body-emphasis text-decoration-none">Favoritos</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['Procesos/']" class="link-body-emphasis text-decoration-none">Procesos</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['Normativas/']" class="link-body-emphasis text-decoration-none">Normativas</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['Guias/']" class="link-body-emphasis text-decoration-none">Guias</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['Proyectos/']" class="link-body-emphasis text-decoration-none">Proyectos</a>
        </li>
        <li class="list-group-item">
          <a href="#" [routerLink]="['ListaReportes/']" class="link-body-emphasis text-decoration-none">Lista de Reportes</a>
        </li>
        <mat-divider></mat-divider>
        <li class="list-group-item">
          <a href="#" [routerLink]="['AdmUsuarios/']" class="link-body-emphasis text-decoration-none">Administrar Nivel Usuarios</a>
        </li>
        
        <!--li class="list-group-item">And a fifth one</li-->
      </ul>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


