<div class="d-flex bd-highlight">
  <div class="p-2 flex-grow-1 bd-highlight">
    <div class="col-9 d-flex align-items-center justify-content-start ">
      <mat-paginator [length]="500" [pageSizeOptions]="[5, 10, 50, 100]" aria-label="Seleccione Pagina">
      </mat-paginator>
    </div>
  </div>

  <div class="p-2 bd-highlight">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <!-- <mat-label>Buscar</mat-label> -->
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="nro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro </th>
      <td mat-cell *matCellDef="let row"> {{row.nro}} </td>
    </ng-container>

    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
      <td mat-cell *matCellDef="let row"> {{row.area}} </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
      <td mat-cell *matCellDef="let row"> {{row.tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="nnormativa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de la Normativa </th>
      <td mat-cell *matCellDef="let row"> {{row.nnormativas}} </td>
    </ng-container>

    <ng-container matColumnDef="fvigencia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de vigencia </th>
      <td mat-cell *matCellDef="let row"> {{row.vigencia}} </td>
    </ng-container>

    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
      <td mat-cell *matCellDef="let row"> {{row.version}} </td>
    </ng-container>

    <ng-container matColumnDef="orden">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Orden </th>
      <td mat-cell *matCellDef="let row"> {{row.orden}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let row"> 


        <!-- <button mat-flat-button color="accent">Editar
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-flat-button color="warn">Eliminar
          <mat-icon>cancel</mat-icon>
        </button> -->


        <div class="button-container">
          <button mat-raised-button class="btnEditar">
            <mat-icon>edit</mat-icon>
            Editar
          </button>
          <button mat-raised-button class="btnBorrar">      
            <mat-icon>delete</mat-icon>
            Eliminar
          </button>
        </div> <!--mat-icon-button-->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos que mostrar "{{input.value}}"</td>
    </tr>
  </table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
</div>