// .size {
//   width: 98%;
// }

// .sizen {
//   width: 100%;
//   padding: 0.8%;
//   // margin-bottom: 5%;
// }


// .contenedorBusqueda {
// background-color: rgb(169, 203, 206);
// padding-top: 2%;
// padding-bottom: 2%;
// }


table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

// td, th {
//   width: 12.5%;
// }

.mat-column-nro,
.mat-column-version,
.mat-column-orden {
  max-width: 50px;

}

.mat-column-tipo,
.mat-column-fvigencia,
.mat-column-acciones {
  max-width: 100px;

}

.mat-column-area {
  max-width: 120px;
}
.button-container {
  display: flex;
  justify-content: space-between; /* Esto colocará los botones al extremo de la línea */
}

.btnEditar {
  background-color: rgb(131, 233, 170);
  color: rgb(0, 0, 0);
  font-size: 11px;
  padding: 10px;
}

.btnBorrar {
  background-color: rgb(240, 134, 134);
  color: rgb(0, 0, 0);
  font-size: 11px;
  padding: 10px;
}

