<div class="card size">
    <div class="card-body">
        <section class="content-header d-flex justify-content-between align-items-center">
            <h1>
                Administrar Tipo de Normativa
            </h1>
            <div class="example-button-row">
                <button mat-raised-button class="btnSave"><mat-icon>save</mat-icon>Guardar Ubicaciones</button>
                <button mat-raised-button class="btnAdd"><mat-icon>add</mat-icon>Agregar Tipo</button>
            </div>
        </section>

        <mat-divider class="divisor"></mat-divider>

        <app-list-tipo-normativas></app-list-tipo-normativas>

    </div>